.bg-black {
  background-color: black;
  color: white;
  width: 100%;
}
.tripy-text {
  font-size: 24px;
}
.tripy-text P {
  font-size: 16px;
  margin-top: 8px;
}
.social-icons i {
  margin-right: 1.5rem;
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 22px;
  transition:  all ease-in-out .5s;
}
.social-icons i:hover {
  transform: rotate(360deg);
}
.col-1 {
  cursor: pointer;
}
.col-1 p {
  font-size: 18px !important;
  margin: 8px 0;
}